---
import { Icon } from "@astrojs/starlight/components";

interface Props {
  title: string;
  button: string;
  icon: Parameters<typeof Icon>[0]["name"];
}

const { title, icon, button } = Astro.props;
const modalId = `modal-${Math.random().toString(36).slice(2)}`;
---

<div>
  <label
    for={modalId}
    class="flex items-center justify-center px-4 py-2 text-white rounded-lg cursor-pointer bg-accent-600 dark:bg-accent-200 dark:text-gray-900"
  >
    <b>{button}</b>
    <Icon name={icon} class="w-6 h-6" />
  </label>
</div>

<div>
  <input
    type="checkbox"
    id={modalId}
    class="fixed opacity-0 appearance-none peer"
  />

  <label
    for={modalId}
    class="pointer-events-none invisible fixed inset-0 flex cursor-pointer items-center justify-center overflow-hidden overscroll-contain backdrop-blur-md bg-gray-800/90 opacity-0 transition-all duration-200 ease-in-out peer-checked:pointer-events-auto peer-checked:visible peer-checked:opacity-100 peer-checked:[&>*]:translate-y-0 peer-checked:[&>*]:scale-100 z-50"
  >
    <div
      class="w-5/6 p-4 bg-white border border-gray-300 shadow-lg dark:bg-gray-900 dark:border-gray-700 transform -translate-y-4 scale-95 transition-all duration-200 ease-in-out"
    >
      <h2 class="mb-4 text-xl font-bold">{title}</h2>
      <slot />
    </div>
  </label>
</div>
